# Creating DataFrame and Series

In [1]:
import pandas as pd

#### Create a data dictionary

In [2]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

In [4]:
df = pd.DataFrame(raw_data)
df.head()

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

#### Add another column called place, and insert what you have in mind.

In [6]:
df["place"] = ["park", "street", "lake", "forest"]
df

         name   evolution   type  hp pokedex   place
0   Bulbasaur     Ivysaur  grass  45     yes    park
1  Charmander  Charmeleon   fire  39      no  street
2    Squirtle   Wartortle  water  44     yes    lake
3    Caterpie     Metapod    bug  45      no  forest

 #### Present the type of each column

In [8]:
df.dtypes

name         object
evolution    object
type         object
hp            int64
pokedex      object
place        object
dtype: object