# Getting and Knowing your Data
import dataset from https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv

In [7]:
import numpy as np
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep = '\t')

#### See the first 10 entries

In [8]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

#### The number of observations in the dataset

In [9]:
df.shape[0]

4622

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

#### The number of columns in the dataset

In [12]:
df.shape[1]

5

In [13]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

#### Dataset index

In [14]:
df.index

RangeIndex(start=0, stop=4622, step=1)

####  The most-ordered item

In [23]:
items = df.groupby("item_name")
items = items.sum()
items = items.sort_values(["quantity"], ascending = False)
items.head()

                     order_id  quantity
item_name
Chicken Bowl           713926       761
Chicken Burrito        497303       591
Chips and Guacamole    449959       506
Steak Burrito          328437       386
Canned Soft Drink      304753       351

In [19]:
items.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

#### The most ordered item in the choice_description column

In [26]:
choice_des = df.groupby("choice_description").sum()
choice_des = choice_des.sort_values(["quantity"], ascending = False)
choice_des.head()

                                                    order_id  quantity
choice_description
[Diet Coke]                                           123455       159
[Coke]                                                122752       143
[Sprite]                                               80426        89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42

#### The number of items was orderd in total

In [27]:
df.quantity.sum()

4972

#### Turn the item price into a float

In [28]:
df.item_price.dtype

dtype('O')

In [ ]:
func = lambda x: float(x[1:-1])
df.item_price = df.item_price.apply(func)

In [39]:
df.item_price.dtype

dtype('float64')

#### The revenue for the period in the dataset

In [40]:
revenue = ((df.quantity)*(df.item_price)).sum()
revenue

39237.02

#### The orders were made in the period

In [44]:
order = df.order_id.value_counts().count()
order

1834

#### The average revenue amount per order

In [47]:
df["revenue"] = (df.quantity)*(df.item_price)
order_group = df.groupby(by=["order_id"]).sum()
order_group.mean()["revenue"]

21.394231188658654

In [48]:
df.groupby(by=["order_id"]).sum().mean()["revenue"]

21.394231188658654

#### The different items are sold

In [49]:
df.item_name.value_counts().count()

50